# Environnement virtuel
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Variables d'environnement / secrets
.env

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
